[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sessions = "*"
jieba = "*"
python-multipart = "*"
aiofiles = "*"
requests = "*"
asyncio = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.8"
